<!DOCTYPE html>
<html lang="pt-Br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue@2"></script>
    <link rel="stylesheet" href="./style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <title>Projeto 01 - Matador de Monstro</title>
</head>
<body>
    <div class="app">
        <div class="players">
            <p>Jogador</p>
            <p>Monstro</p>
        </div>
        <div class="players-health">
            <div class="health-status">
                <i class="material-symbols-outlined">favorite</i>
                <div class="hp-container">
                    <div class="hp-bar-jogador" :style="playerBar"></div>
                </div>
                <span class="hp-value-jogador">{{ playerHealth }}</span>
            </div>
            <div class="health-status">
                <i class="material-symbols-outlined">favorite</i>
                <div class="hp-container">
                    <div class="hp-bar-monstro" :style="monsterBar"></div>
                </div> 
                <span class="hp-value-monstro">{{ monsterHealth }}</span>
            </div>
        </div>
        <div class="menu">
            <div v-if="endGame" class="result-game">
                <div class="winner">
                    <p v-show="winner == 'P'">Você ganhou! :) </p>
                    <p v-show="winner == 'M'">Você perdeu! :( </p>
                </div>
            </div>
            <div v-if="!inGame" @click="startGame()" class="before-start">
                <input class="start-btn btn" type="button" value="Iniciar novo jogo">
            </div>
            <div v-else class="after-start">
                <input 
                    class="ataque-btn btn" 
                    type="button" 
                    value="Ataque"
                    @click="normalAttack()"
                >
                <input class="especial-btn btn" type="button" value="Ataque especial">
                <input class="curar-btn btn" type="button" value="Curar">
                <input @click="finishGame()" class="desistir-btn btn" type="button" value="Desistir">
            </div>
        </div>
        <div v-show="hasLog" class="log-game">
            <div class="turno">
                <span>1º Turno</span>
                <p>JOGADOR ATACA COM 10</p>
                <p>MONSTRO ATACA COM 10</p>
            </div>
            <div class="turno">
                <span>2º Turno</span>
                <p>JOGADOR ATACA COM 10</p>
                <p>MONSTRO ATACA COM 10</p>
            </div>
        </div>
    </div>
<script src="./app.js"></script>
</body>
</html>